<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>APM</title>
</head>
<body>
<h2>Добавить нового пользователя</h2>

<form method="post" th:action="@{/addUser}" th:object="${userS}">

    <a th:href="@{/tableDemand}">Домашняя страеица</a><br/><hr><br/>
    <label>
        Логин : <input type="text" th:field="*{username}">
    </label><br/><br/>
    <label>
    Пароль : <input type="text" th:field="*{password}">
</label><br/><br/>
   <label>
       Отдел :  <input type="text" th:field="*{office}">
</label>
    <label><br/><br/>
        Конфигурация ПК : <input type="text" th:field="*{build}">
    </label><br/><br/>
    <label>
        Ф.И.О : <input type="text" th:field="*{fio}">
    </label><br/><br/>
    <p><input type="submit" value="Добавить"/></p>
</form>
</body>
</html>