<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>APM</title>
<body>
<p><a th:href="@{/tableDemand}">Выход</a></p>
<h2>Таблица  пользователей</h2>
<form method="post" th:action="@{/editUserAdmin}">
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчества</th>
        <th>конфигурация ПК</th>
        <th>Отдел</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${fUserAd}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.family}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.patronymic}"></td>
        <td th:text="${u.build}"></td>
        <td th:text="${u.office}"></td>
        <td><a th:href="@{/editUser/{id}(id=${u.id})}">Edit</a></td>
        <td><a th:href="@{/deleteUserAdmin/{id}(id=${u.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
    <p><label>
        <input type="text" name="family">
    </label>
    <input type="submit" value="найти"></p>
    <h4>Найти пользователя по фамилии</h4>
</form>
</body>
</html>