<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h2>Страница входа</h2>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<!--<a th:href="@{/login}">Заявка</a>-->
<form th:action="@{/login}" method="post">
    <p><label> Логин : <input type="text" name="username"/></label></p>
    <p><label> Введите пароль : <input type="password" name="password"/> </label></p>
    <div><input type="submit" value="Login"/></div>

</form>
</body>
</html>